.navbar {
    width: 100%;
    padding: 15px 10px;
    box-sizing: border-box;
    margin-bottom: 80px;
    border-bottom: 1px solid black;
}

.navbar ul {
    display: flex;
    margin: 0 auto;
    max-width: 960px;
    align-items: center;
}

.title {
    margin-right: auto;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 1.2em;
}


.navbar a {
    /* margin: 10px; */
    color: #333;
    text-decoration: none;
}